<div class="page-head">
  <h2>Job Posts Form</h2>
</div>
<div class="cl-mcont">
  <div class="row wizard-row">
    <div class="col-md-12 fuelux">
      <div class="block-wizard">
        <div class="step-content">
          <div class="job_hdr"><%= @job.title %></div>
          <%= form_for(@job_post, url: admin_job_job_post_path(@job, @job_post), html: {class: 'form-horizontal group-border-dashed'} ) do |f| %>
            <%= render partial: "admin/job_posts/form", locals: {f: f} %>
          <% end %>
          <%= link_to 'Show', @job %> |
          <%= link_to 'Back', jobs_path %>
        </div>
      </div>
    </div>
  </div>
</div>

