<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Notifications
  </div>
  <ul class="panel-block-body nav">
    <li class="<%= params[:job_category_id].blank? ? 'selected-lst' : '' %>"><a href="<%= jobs_path %>">Latest Notifications</a> </li>
    <li>
      <a href="<%= announcement_type_announcements_path(1) %>" >Upcoming Notifications 
        <% @ft_announcements & @ft_announcements.each do | announcement | %>
          <% if announcement.announcement_type_id == 1 %>
            <span class="badge pull-right custom-badge"><%= announcement.count %></span> 
          <% end %>
        <% end %>
      </a>
    </li>
  </ul>
</div>
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Current Affairs
  </div>
  <ul class="panel-block-body nav">
    <li><a href="<%= current_affairs_path %>">Today updates</a></li>
    <li><a href="<%= get_weekly_updates_current_affairs_path %>">Weekly updates</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 1</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 2</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 3</a></li>
    <li><a href="http://www.freejobalert.com/interview-results/22135/">Weekly updates 4</a></li>
  </ul>
</div>
