<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Notifications
  </div>
  <ul class="panel-block-body nav">
    <li class="<%= params[:job_category_id].blank? ? 'selected-lst' : '' %>"><a href="<%= jobs_path %>">Latest Notifications</a> </li>
    <li>
      <a href="<%= announcement_type_announcements_path(1) %>" >Upcoming Notifications 
        <% @ft_announcements & @ft_announcements.each do | announcement | %>
          <% if announcement.announcement_type_id == 1 %>
            <span class="badge pull-right custom-badge"><%= announcement.count %></span> 
          <% end %>
        <% end %>
      </a>
    </li>
  </ul>
</div>
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Current Affairs
  </div>
  <ul class="panel-block-body nav">
    <li><a href="<%= current_affairs_path %>">Today updates</a></li>
    <li><a href="<%= get_weekly_updates_current_affairs_path(Date.today) %>">Weekly updates</a></li>
    <% get_crt_affr_months_list.first(4).each do | month_date | %>
      <li>
        <a href="<%= get_monthly_updates_current_affairs_path(month_date.year, month_date.month) %>">
          <%= get_crt_affr_month_title(month_date) %>
        </a>
      </li>
    <% end %>
    <li><a href="javascript:void(0);" class="pull-right" id="view-more-months">View more ...</a></li>
    <% get_crt_affr_months_list.last(get_crt_affr_months_list.length - 4).each do | month_date | %>
      <li class="hide hidden-months">
        <a href="<%= get_monthly_updates_current_affairs_path(month_date.year, month_date.month) %>">
          <%= get_crt_affr_month_title(month_date) %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
