<div class="job-details-block">
  <div class="job-details-hdr">
    <a href="<%= job_path(@job.id)%>">
      <%= @job.title%>
    </a>
  </div>
  <div class="job-details-body">
    <div class="job-attrs">
      <strong class="job-attr-lbl">Post names:&nbsp;</strong>
      <span class="job-attr-detail"><%= @job.title%></span>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">Description:&nbsp;</strong>
      <span class="job-attr-detail"><%= @job.description%></span>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">Job Posts:&nbsp;</strong>
      <div class="clear"></div>
      <div class="job-attr-detail mrgn-top">
        <table class="table row-fluid">
          <tbody>
            <% @job.job_posts.each_with_index do | job_post, index | %>
              <tr>
                <td style="border:1px solid #dddddd;">
                  <div class="post-detail">
                    <div class="">Post Name : <%= job_post.post_name %>
                    <div class="">Vacancies : <%= job_post.vacancies %>
                    <div class="">Salary : <%= job_post.salary %> </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">Qualifications:&nbsp;</strong>
      <div class="job-attr-detail"><%= get_job_qualification %></div>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">Age limit:&nbsp;</strong>
      <span class="job-attr-details"><%= @job.age_limit%></span>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">Start Date:&nbsp;</strong>
      <span class="job-attr-details"><%= @job.start_date.strftime("%d / %b / %Y")%></span>
    </div>
    <div class="job-attrs">
      <strong class="job-attr-lbl">End Date:&nbsp;</strong>
      <span class="job-attr-details"><%= @job.end_date.strftime("%d / %b / %Y")%></span>
    </div>
    <strong class="job-attr-lbl"><a href="javascript:void(0);">Click here to view original advertisement</a></strong><br/>
    <strong class="job-attr-lbl"><a href="javascript:void(0);">Click here to apply online</a></strong>
    <br/><br/>
  </div>
</div>
