<div class="row">
  <div class="col-md-12">
    <div class="row-fluid quiz-list-hdr">
      <div class="row">
        <div class="col-md-8 pull-left quiz-list-hdr-text">Quiz List</div>
        <div class="col-md-4">
          <div class="btn-group pull-right">
            <button data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Select Quiz Type&nbsp;&nbsp;<span class="caret"></span></button>
            <ul class="dropdown-menu">
              <%= get_quiz_categories_list %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="quiz-list">
      <% @quizs.each do |quiz| %>
        <div class="quiz">
          <div class="quiz-hdr"><a href="<%= quiz_path(quiz) %>"><%= quiz.title.capitalize %></a></div>
          <div class="quiz-details row-fluid">
            <div class="row">
              <div class="col-md-4">Number of Questions: <%= quiz.number_of_question%></div>
              <div class="col-md-4">Alloted Time: <%= quiz.alloted_time %> minuts</div>
              <div class="col-md-4">Posted Date: <%= quiz.date.to_date.strftime("%d") + " " + quiz.date.to_date.strftime("%B") + " " + quiz.date.to_date.strftime("%Y") %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
