<div class="page-head">
  <h2>Jobs Details</h2>
</div>
<div class="cl-mcont">
  <div class="row wizard-row">
    <div class="col-md-12 fuelux">
      <div class="block-wizard">
        <div class="step-content">
          <div class="job_hdr row">
            <div class="col-md-11"><%= @job.title %></div>
            <div class="col-md-1 add-post-link">
              <%= link_to ' Add Post', new_admin_job_job_post_path(@job), class: "fa fa-plus btn btn-primary" %>
            </div>
          </div>
          <div class="clear mrgn-top"></div>
          <%= @job.description %>
          <div class="row-fluid mrgn-top">
            <strong>Job Posts:&nbsp;&nbsp;</strong>
            <div class="job-post-block mrgn-top">
              <table class="table row-fluid">
                <tbody>
                  <tr>
                    <td>Post Detail</td>
                    <td colspan="2">Action</td>
                  </tr>
                  <% @job.job_posts.each_with_index do | job_post, index | %>
                    <tr>
                      <td>
                        <div class="post-detail">
                          <div class="">Post Name : <%= job_post.post_name %>
                          <div class="">Vacancies : <%= job_post.vacancies %>
                          <div class="">Salary : <%= job_post.salary %> </div>
                        </div>
                      </td>
                      <td>
                        <%= link_to ' Edit', edit_admin_job_job_post_path(@job, job_post), class: "fa fa-edit btn btn-primary" %>
                      </td>
                      <td>
                        <%= link_to ' Delete', "javascript:void(0);", class: "fa fa-trash-o btn btn-danger delete_job",
                          "data-job_id": @job.id, "data-job_post_id": job_post.id %>
                        <%#= link_to ' Delete', admin_job_job_posts_path(@job, job_post), class: "fa fa-trash-o btn btn-danger" %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>

            <div class="row-fluid mrgn-top">
              <strong>Education Qualifications:&nbsp;&nbsp;</strong>
              <div class="mrgn-top">
                <% if @job.job_posts.map(&:qualifications).uniq.size == 1 %>
                  <% @job.job_posts.each do | job_post |  %>
                    <strong><%= job_post.post_name %> </strong> <%= job_post.qualifications %>
                  <% end %>
                <% else %>
                  
                <% end %>
              </div>
            </div>
          <% if @job.experience.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Experience:&nbsp;&nbsp;</strong><%= @job.experience %>
            </div>
          <% end %>
          <% if @job.application_fee.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Application Fee:&nbsp;&nbsp;</strong><%= @job.application_fee %>
            </div>
          <% end %>
          <% if @job.selection_procedure.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Selection Procedure:&nbsp;&nbsp;</strong><%= @job.selection_procedure %>
            </div>
          <% end %>
          <% if @job.start_date.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Start Date:&nbsp;&nbsp;</strong><%= @job.start_date.strftime("%d-%b-%Y") %>
            </div>
          <% end %>
          <% if @job.start_date.present? %>
            <div class="row-fluid mrgn-top">
              <strong>End Date:&nbsp;&nbsp;</strong><%= @job.end_date.strftime("%d-%b-%Y") %>
            </div>
          <% end %>
          <% if @job.tentative_exam_date.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Tentative Exam Date:&nbsp;&nbsp;</strong><%= @job.tentative_exam_date.strftime("%d-%b-%Y") %>
            </div>
          <% end %>
          <% if @job.apply_online_link.present? ||  @job.website_ads_link.present? %>
            <div class="row-fluid mrgn-top">
              <strong>Important Links:&nbsp;&nbsp;</strong>
            </div>
            <div class="imprt-lnks">
              <a href="<%= @job.apply_online_link %>"> Click Here for online Application </a><br/>
              <a href="<%= @job.website_ads_link %>"> Click Here for more details</a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
