<div class="cl-sidebar"> 
  <div class="cl-navblock">
    <div class="menu-space">
      <div class="content">
        <ul class="cl-vnavigation">
          <li class="">
            <a href="#"><i class="fa fa-home"></i><span>DASHBOARD</span></a>
          </li>
          <li class="parent">
            <a href="#">
              <i class="fa"></i><span>JOBS INFO</span>
            </a>
            <ul class="sub-menu">
              <li><a href="<%= admin_jobs_path %>">JOBS LIST</a></li>
              <li><a href="<%= new_admin_job_path %>">CREATE JOB</a></li>
            </ul>
          </li>
          <li class="parent">
            <a href="#">
              <i class="fa"></i><span>ANNOUNCEMENTS</span>
            </a>
            <ul class="sub-menu">
              <li><a href="<%= admin_announcements_path %>">ANNOUNCEMENTS LIST</a></li>
              <li><a href="<%= new_admin_announcement_path %>">CREATE ANNOUNCEMENT</a></li>
            </ul>
          </li>
          <li class="parent">
            <a href="#">
              <i class="fa"></i><span>CURRENT AFFAIRS</span>
            </a>
            <ul class="sub-menu">
              <li><a href="<%= admin_current_affairs_path %>">CURRENT AFFAIRS LIST</a></li>
              <li><a href="<%= new_admin_current_affair_path %>">CREATE CURRENT AFFAIRS</a></li>
              <li><a href="<%= new_admin_announcement_path %>">CREATE CT AFFAIR QUIZ</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div style="padding:7px 9px;" class="text-right collapse-button">
      <input type="text" placeholder="Search..." class="form-control search">
      <button style="" class="btn btn-default" id="sidebar-collapse"><i class="fa fa-angle-left" style="color:#fff;"></i></button>
    </div>
  </div>
</div>
