<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Latest Announcements
  </div>
  <ul class="panel-block-body nav">
    <% admit_card_counter, interviewer_reminder_counter, interview_result_counter = 0, 0, 0%>
    <% @ft_announcements & @ft_announcements.each do | announcement | %>
      <% if announcement.announcement_type_id == 2 %>
        <% admit_card_counter = announcement.count %>
      <% end %>
      <% if announcement.announcement_type_id == 3 %>
        <% interviewer_reminder_counter = announcement.count %>
      <% end %>
    <%end%>
    <% if @pst_announcements.announcement_type_id == 4 %>
      <% interview_result_counter = @pst_announcements.count %>
    <% end %>
    <li>
      <a href="<%= announcement_type_announcements_path(2)%>">
        Admit Card / Call Letter
        <% if interviewer_reminder_counter.present? %>
          <span class="badge pull-right custom-badge"><%= admit_card_counter %></span>
        <% end %>
      </a>
    </li>
    <li>
      <a href="<%= announcement_type_announcements_path(3)%>">
        Inteviewer / Exam Date Reminder
        <% if interviewer_reminder_counter.present? %>
          <span class="badge pull-right custom-badge"><%= interviewer_reminder_counter %></span>
        <% end %>
      </a>
    </li>
    <li>
      <a href="<%= announcement_type_announcements_path(4)%>">
        Interview / Exam Results
        <% if interview_result_counter.present? %>
          <span class="badge pull-right custom-badge"><%= interview_result_counter %></span>
        <% end %>
      </a>
    </li>
  </ul>
</div> 
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Banking jobs
  </div>
  <ul class="panel-block-body nav">
    <% if banking_jobs.present? %>
      <% banking_jobs.each do | job |%>
        <li><a href="<%= job_path(job.id)%>"><%= job.title %></a> </li>
      <% end %>
    <% else %>
      <div class="no-job-status">No more jobs</div>
    <% end %>
  </ul>
</div> 
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Railway jobs
  </div>
  <ul class="panel-block-body nav">
    <% if railway_jobs.present? %>
      <% railway_jobs.each do | job |%>
        <li><a href="<%= job_path(job.id)%>"><%= job.title %></a> </li>
      <% end %>
    <% else %>
      <div class="no-job-status">No more jobs</div>
    <% end %>
  </ul>
</div>
<div class="row panel-block">
  <div class="panel-block-hdr bdr-btm">
    Teaching jobs
  </div>
  <ul class="panel-block-body nav">
    <% if teaching_jobs.present? %>
      <% teaching_jobs.each do | job |%>
        <li><a href="<%= job_path(job.id)%>"><%= job.title %></a> </li>
      <% end %>
    <% else %>
      <div class="no-job-status">No more jobs</div>
    <% end %>
  </ul>
</div>
<div class="row panel-block">
  <strong>Sarkari Naukri Archive</strong>
</div>
