<!DOCTYPE html>
<html>
  <head>
    <title>JobsHub</title>
    <%= stylesheet_link_tag  'dashboards' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/admin/admin_navbar"%>
    <div id="cl-wrapper">
      <%= render partial: "layouts/admin/admin_left_panel"%>
      <div id="pcont" class="container-fluid">
        <%= render :partial => "layouts/main/messages" %>
        <%= yield %>
      </div> 
    </div>
    
    <script type="text/javascript">
      $(document).ready(function(){
        App.init();
      }); 
    </script> 
 </body>
</div>
