<!DOCTYPE html>
<html>
  <head>
    <title>JobsHub</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/navbar" %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 bdr-lft-rght">
          <%= render partial: "layouts/image_navbar" %>
          <%= render partial: "layouts/menu_navbar" %>
          <div class="row breaking-news-block">
            <%= render partial: "layouts/breaking_news" %>
          </div>
          <div class="row job-list-block">
            <div class="col-md-2">
              <%= render partial: "layouts/left_panel" %>
            </div>
            <div class="col-md-7">
              <%= yield %>
            </div>
            <div class="col-md-3">
              <%= render partial: "layouts/right_panel", locals: {
                  banking_jobs: @banking_jobs,
                  railway_jobs: @railway_jobs,
                  teaching_jobs: @teaching_jobs
                }
              %>
            </div>
          </div>
          <div class="row app-footer">
            <%= render partial: "layouts/app_footer" %>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
    </div><!-- /.container -->
  </body>
</html> 
